In [1]:
import pandas as pd

In [4]:
dataset = pd.read_csv("Salary_Data.csv")
dataset.drop(columns="Age",inplace=True)
dataset.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [19]:
x=dataset.iloc[:,:-1]
y=dataset["Salary"]

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state=42,test_size=0.2)

In [22]:
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression

In [23]:
br = BaggingRegressor(estimator=LinearRegression(),n_estimators=50)
br.fit(x_train,y_train)
br.score(x_train,y_train)*100 , br.score(x_test,y_test)*100

(96.45312505738725, 90.27470567415972)

In [25]:
rf = RandomForestRegressor(n_estimators=50)
rf.fit(x_train,y_train)
rf.score(x_train,y_train)*100 , rf.score(x_test,y_test)*100

(99.441354498074, 86.83438446543536)