In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv(r"C:\Users\ASUS\Downloads\Skills\Data Science\Churn_Modelling.csv")
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [3]:
dataset.drop(columns=["Surname","Geography","Gender"],inplace=True)

In [4]:
dataset.head()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,619,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,608,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,502,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,699,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,850,43,2,125510.82,1,1,1,79084.10,0

In [5]:
input_data = dataset.iloc[:,:-1]
output_data = dataset.iloc[:,-1]

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
ss = StandardScaler()
input_data=pd.DataFrame(ss.fit_transform(input_data),columns=input_data.columns)
input_data.head()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,-1.731878,-0.783213,-0.326221,0.293517,-1.041760,-1.225848,-0.911583,0.646092,0.970243,0.021886
1,-1.731531,-0.606534,-0.440036,0.198164,-1.387538,0.117350,-0.911583,-1.547768,0.970243,0.216534
2,-1.731185,-0.995885,-1.536794,0.293517,1.032908,1.333053,2.527057,0.646092,-1.030670,0.240687
3,-1.730838,0.144767,0.501521,0.007457,-1.387538,-1.225848,0.807737,-1.547768,-1.030670,-0.108918
4,-1.730492,0.652659,2.063884,0.388871,-1.041760,0.785728,-0.911583,0.646092,0.970243,-0.365276

In [8]:
input_data.shape

(10000, 10)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test = train_test_split(input_data,output_data,random_state=42,test_size=0.2)

In [11]:
import tensorflow

In [12]:
from keras.layers import Dense
from keras.models import Sequential

In [13]:
sq = Sequential()
sq.add(Dense(8,input_dim=10,activation="relu"))
sq.add(Dense(5,activation="relu"))
sq.add(Dense(2,activation="relu"))
sq.add(Dense(1,activation="sigmoid"))

C:\Users\ASUS\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [14]:
sq.compile(optimizer='adam',loss="binary_crossentropy",metrics=['accuracy'])

In [15]:
sq.fit(x_train, y_train,batch_size=100,epochs=10)

Epoch 1/10
80/80 ━━━━━━━━━━━━━━━━━━━━ 8s 7ms/step - accuracy: 0.7964 - loss: 0.5508
Epoch 2/10
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7978 - loss: 0.5025
Epoch 3/10
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7942 - loss: 0.4868
Epoch 4/10
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7952 - loss: 0.4716
Epoch 5/10
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7989 - loss: 0.4547
Epoch 6/10
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8106 - loss: 0.4460
Epoch 7/10
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8168 - loss: 0.4364
Epoch 8/10
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8237 - loss: 0.4247
Epoch 9/10
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8184 - loss: 0.4321
Epoch 10/10
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8190 - loss: 0.4265

In [16]:
prd = sq.predict(x_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step

In [17]:
prd_data = []
for i in prd:
    if i[0]>0.5:
        prd_data.append(1)
    else :
        prd_data.append(0)

In [19]:
prd1 = sq.predict(x_train)

prd1_data = []
for i in prd1:
    if i[0]>0.5:
        prd1_data.append(1)
    else :
        prd1_data.append(0)

250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [18]:
from sklearn.metrics import accuracy_score

In [20]:
accuracy_score(y_train,prd1_data)*100 ,accuracy_score(y_test,prd_data)*100

(82.4625, 82.8)